body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: rgb(110,205,102);
	background: -webkit-linear-gradient(rgba(110,205,102,1) 0%, rgba(64,134,50,1) 100%);
	background: -o-linear-gradient(rgba(110,205,102,1) 0%, rgba(64,134,50,1) 100%);
	background: linear-gradient(rgba(110,205,102,1) 0%, rgba(64,134,50,1) 100%);
	height: 100vh;
}
input:focus {
	 outline: none;
}
input[type="button"] {
	cursor: pointer;
	background-color: rgb(110,205,102);
	letter-spacing: 2px;
	font-weight: 100;
	color: #fff;
	font-size: 15px;
}
a {
	color: rgb(110,205,102);
}
.register-paragraph {
	color: #ccc;
	font-size: 12px;
	text-align: center;

}