body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
input:focus {
	 outline: none;
}
input[type="button"] {
	cursor: pointer;
	background-color: rgb(110,205,102);
	letter-spacing: 2px;
	font-weight: 100;
	color: #fff;
	font-size: 15px;
}
a {
	color: rgb(110,205,102);
}
.register-paragraph {
	color: #ccc;
	font-size: 12px;
	text-align: center;

}
table {
	border-collapse: collapse;
	box-sizing: border-box;
}
.table-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-width: 80%;
	max-width: 80%;
}
tr {
	border:1px solid rgb(110,205,102);

}
th {
	padding: 10px;
}
table tbody tr:nth-child(odd) {
 	background: #F0F0F0;
	border:1px solid rgb(110,205,102);
 	color: #000;
}
td {
	padding: 10px;
}
input {
	width: 80%;
	height: 40px;
	border: 1px rgb(110,205,102);
	-webkit-box-shadow: 0px 0px 5px 0px #F0F0F0;
	-moz-box-shadow: 0px 0px 5px 0px #F0F0F0;
	box-shadow: 0px 0px 30px 5px #F0F0F0;
	box-sizing: border-box;
	margin: 20px 0;
	border: 1px solid rgba(110,205,102,1);
	border-radius: none;
	background-color: #F0F0F0;
	color: #000;
	padding: 0 20px;
}
table tbody tr td:nth-child(1) {
	cursor: pointer;
}
@media screen and (max-width: 480px) {
	body {
		width: 100%;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}
	.table-container {
		overflow-x: auto;
	}
	 table,thead ,tbody {
	 	max-width: 300px;
	 	min-width: 300px;
	 	width: 300px;
	 	word-wrap: normal;
	 	overflow: auto;
	 }
	 table thead tr th:nth-child(5),
	 table thead tr th:nth-child(6),
	 table tbody tr td:nth-child(5),
	 table tbody tr td:nth-child(6){
	 	display: none;
	 }
	 table tbody tr td {
	 	padding: 1%;
	 }
}